PORT=5000
MONGODB_URI=mongodb+srv://sksabbir99_db_user:<db_password>@sk-mern-dev.y7p6mhu.mongodb.net/expense-tracker?appName=sk-mern-dev
TABLESPRINT_OTP_WEBHOOK_URL=your-tablesprint-otp-webhook-url
TABLESPRINT_STATEMENT_WEBHOOK_URL=your-tablesprint-statement-webhook-url
DEVELOPMENT_MODE=true
